<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="robots" content="noodp">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/build/css/main.css">

  <title>{{seo.title}}</title>
  <link rel="canonical" href="{{seo.url}}">
  <meta name="description" content="{{seo.description}}">
  <link rel="icon" type="image/png" href="favicon.png" />

  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-194x194.png" sizes="194x194">
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ee3a00">
  <meta name="msapplication-TileColor" content="#ee3a00">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  <meta name="theme-color" content="#ee3a00">

  <!-- OpenGraph data -->
  <meta property="og:type" content="{{seo.type}}"/>
  <meta property="og:image" content="{{seo.image.url}}"/>
  <meta property="og:image:height" content="{{seo.image.height}}"/>
  <meta property="og:image:width" content="{{seo.image.width}}"/>
  <meta property="og:url" content="{{seo.url}}"/>
  <meta property="og:title" content="{{seo.title}}"/>
  <meta property="og:locale" content="{{seo.locale}}"/>
  <meta property="og:site_name" content="{{seo.site_name}}"/>
  <meta property="og:description" content="{{seo.description}}"/>

  <meta name="twitter:card" content="summary">
  <meta name="twitter:description" content="{{seo.description}}">
  <meta name="twitter:title" content="{{seo.title}}">
  <meta name="twitter:site" content="{{seo.site_name}}">
  <meta name="twitter:image" content="{{seo.image.url}}">
  <meta name="twitter:creator" content="{{seo.twitter_creator}}">

  <!--[if lte IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/classlist/2014.01.31/classList.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.1.0/es5-shim.min.js"></script>
  <![endif]-->
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
  <![endif]-->
</head>

<body>
  <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
